<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Eden Grove</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/component/embedded-pages/css/field.css" />
    <link
      rel="stylesheet"
      href="/component/popup/css/fieldAddOrUpdatePopup.css"
    />
    <link rel="stylesheet" href="/component/popup/css/fieldViewPopup.css" />
    <link rel="stylesheet" href="/component/popup/css/deletePopup.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <section id="filter-container">
      <div class="d-flex justify-content-between">
        <h1>Field</h1>
        <button class="btn-add" id="btn-field-add">Add Field</button>
      </div>
      <div class="d-flex justify-content-even align-items-center" id="filter">
        <div class="filter-component d-flex flex-column justify-content-left">
          <label>What are you looking for?</label>
          <input type="text" placeholder="Search for name" id="name-search" />
        </div>
        <div class="filter-component d-flex flex-column justify-content-left">
          <label>From</label>
          <input type="number" id="from-size" />
        </div>
        <div class="filter-component d-flex flex-column justify-content-left">
          <label>To</label>
          <input type="number" id="to-size" />
        </div>
        <button class="search">Search</button>
        <button class="clear-filter">
          <img src="/assets/icons/reset-filter.svg" alt="clear all icon" />
        </button>
      </div>
    </section>

    <section id="main-content"></section>

    <!-- Field view popup -->
    <div class="overlay"></div>
    <section id="field-view-popup">
      <div
        class="title-container d-flex justify-content-between align-items-center"
      >
        <h1>Field Details</h1>
        <button class="close-btn">
          <img
            src="/assets/icons/cancel-grey.svg"
            alt="Close svg in grey color"
          />
        </button>
      </div>
      <div class="main-content">
        <div id="carousel" class="carousel slide">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img
                src="/assets/image/field-example-pic.png"
                class="d-block w-100"
                id="field-image-1"
              />
            </div>
            <div class="carousel-item">
              <img
                src="/assets/image/field-example-pic.png"
                class="d-block w-100"
                id="field-image-2"
              />
            </div>
          </div>
          <button
            class="carousel-control-prev"
            type="button"
            data-bs-target="#carousel"
            data-bs-slide="prev"
          >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button
            class="carousel-control-next"
            type="button"
            data-bs-target="#carousel"
            data-bs-slide="next"
          >
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
        <div
          class="wrapper d-flex justify-content-between align-items-center mb-3 selector-wrapper"
        >
          <div class="detail-container d-flex flex-column flex-wrap">
            <label class="lbl">Field Name</label>
            <label id="lbl-name"></label>
          </div>
          <div class="detail-container d-flex flex-column">
            <label class="lbl">Field Size</label>
            <label id="lbl-size"></label>
          </div>
          <div class="detail-container d-flex flex-column">
            <label class="lbl">Gender</label>
            <div class="location-url d-flex align-items-center">
              <a id="field-location" href="" target="_blank"
                >View on Google Maps</a
              >
              <img src="/assets/icons/location-arrow.svg" />
            </div>
          </div>
        </div>
        <div
          class="wrapper d-flex justify-content-between align-items-center mb-3"
        >
          <div class="detail-container d-flex flex-column flex-wrap">
            <label class="lbl crop-lbl mt-1">Crops</label>
            <div
              class="tag-container d-flex justify-content-start align-items-center mt-2"
              id="crop-tag-container"
            ></div>
          </div>
        </div>
        <div
          class="wrapper d-flex justify-content-between align-items-center mb-3"
        >
          <div class="detail-container d-flex flex-column flex-wrap">
            <label class="lbl staff-lbl mt-1">Staff</label>
            <div
              class="tag-container d-flex justify-content-start align-items-center mt-2"
              id="staff-tag-container"
            ></div>
          </div>
        </div>
        <div
          class="wrapper d-flex justify-content-between align-items-center mb-3"
        >
          <div class="detail-container d-flex flex-column flex-wrap">
            <label class="lbl equipment-lbl mt-1">Equipment</label>
            <div
              class="tag-container d-flex justify-content-start align-items-center mt-2"
              id="equipment-tag-container"
            ></div>
          </div>
        </div>
      </div>
    </section>

    <!-- Field add or update popup -->
    <section id="field-add-or-update-popup">
      <div
        class="title-container d-flex justify-content-between align-items-center"
      >
        <h1>Add Field</h1>
        <button class="close-btn">
          <img
            src="/assets/icons/cancel-grey.svg"
            alt="Close svg in grey color"
          />
        </button>
      </div>

      <form class="main-content">
        <h3>Details</h3>
        <div class="wrapper d-flex justify-content-between align-items-center">
          <div
            class="image-1-container d-flex flex-column justify-content-center align-items-center"
          >
            <img
              src="/assets/icons/image-selector.svg"
              alt="image selector background icon"
              class="image-icon"
            />
            <p>Click to upload or drag and drop</p>
            <p>Maximum image size 10 MB</p>
            <img src=" " alt="selected image" class="image-selector-1" />
            <input
              type="file"
              class="image-input"
              id="image-input-1"
              accept="image/*"
              hidden
            />
          </div>
          <div
            class="image-2-container d-flex flex-column justify-content-center align-items-center"
          >
            <img
              src="/assets/icons/image-selector.svg"
              alt="image selector background icon"
              class="image-icon"
            />
            <p>Click to upload or drag and drop</p>
            <p>Maximum image size 10 MB</p>
            <img src=" " alt="selected image" class="image-selector-2" />
            <input
              type="file"
              class="image-input"
              id="image-input-2"
              accept="image/*"
              hidden
            />
          </div>
        </div>
        <div class="wrapper d-flex justify-content-between align-items-center">
          <div class="detail-container d-flex flex-column">
            <label class="lbl">Field Name</label>
            <input
              type="text"
              id="field-name-in"
              required
              oninput="this.setCustomValidity('')"
            />
          </div>
          <div class="detail-container d-flex flex-column">
            <label class="lbl">Field Size (Sq.mt)</label>
            <input
              type="number"
              id="field-size-in"
              required
              oninput="this.setCustomValidity('')"
            />
          </div>
        </div>
        <div class="wrapper d-flex justify-content-between align-items-center">
          <div class="detail-container d-flex flex-column">
            <label class="lbl"
              >Field Location (Please enter google map web URL)</label
            >
            <input
              type="text"
              id="field-url-in"
              required
              oninput="this.setCustomValidity('')"
            />
          </div>
        </div>

        <h3>Optional</h3>
        <div class="wrapper d-flex justify-content-between align-items-center">
          <div class="detail-container d-flex flex-column">
            <div class="d-flex justify-content-between align-items-center">
              <label class="lbl">Staff</label>
              <label class="count-tag" id="staff-count">Staff: 0</label>
            </div>
            <select id="staff-dpd" multiple></select>
          </div>
          <div class="detail-container d-flex flex-column">
            <div class="d-flex justify-content-between align-items-center">
              <label class="lbl">Equipments</label>
              <label class="count-tag" id="equipment-count">Equipment: 0</label>
            </div>
            <select id="equipment-dpd" multiple></select>
          </div>
        </div>

        <div class="popup-button-container d-flex justify-content-end">
          <button type="submit" id="btn-save">Save</button>
          <button type="submit" id="btn-update">Update</button>
        </div>
      </form>
    </section>

    <!-- delete popup -->
    <section id="delete-popup">
      <div class="d-flex flex-column align-items-center">
        <span class="d-flex justify-content-center align-items-center"
          ><img src="/assets/icons/warning.svg" alt="Warning icon in red color"
        /></span>
        <h1>Are you sure?</h1>
        <p class="text-center">
          Are you sure you want to delete this record? <br />
          This process cannot be undone.
        </p>
      </div>
      <div class="popup-button-container d-flex justify-content-between">
        <button type="submit" id="btn-cancel">Cancel</button>
        <button type="submit" id="btn-delete">Delete</button>
      </div>
    </section>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://code.jquery.com/jquery-3.7.1.min.js"
      integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
      crossorigin="anonymous"
    ></script>
    <script
      type="module"
      src="/component/embedded-pages/js/FieldController.js"
    ></script>
    <script
      type="module"
      src="/component/popup/js/FieldAddOrUpdatePopup.js"
    ></script>
    <script type="module" src="/component/popup/js/FieldViewPopup.js"></script>
    <script
      type="module"
      src="/component/popup/js/FieldDeletePopup.js"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
  </body>
</html>
